/* Positioning Login Screen, Register Screen */

.login-wrap {
    width: 1200px;
    height: 587;
    background: var(--first-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
}

.login-inner {
    width: 600px;
    height: 587px;
    display: flex;
    flex-direction: column;
}

/* Div Left */

.login-inner:first-child {
    justify-content: center;
}

/* Div Right */

.login-inner:last-child {
    background: var(--second-color);
}

.form-wrap {
    width: 481px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}



.logo, .title , .input-field, .input-link, .form-button {
    margin-top: 30px;
}

.title {
    color: var(--third-color);
    font-size: var(--first-title);
}

.subtitle {
    font-weight: bold;
}

.subtitle:hover {
    color: var(--sixth-color);
}

/* Input Configuration */

.input-field {
    display: flex;
    flex-direction: column;
}

.input-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.input-item {
    width: 480px;
    height: 45px;
    border: none;
    background: var(--fourth-color);
    font-size: 16px;
    padding-left: 5px;
    border-radius: 4px;
}

.input-item:focus {
    outline: 0;
    border: 1px solid var(--sixth-color);
}

::placeholder {
    color: var(--fifth-color);
    font-weight: 100;
    opacity: 0.4;
}

/* Configuration Input Half */

.input-field-half {
    display: flex;
    margin-top: 30px
}

.field-half {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.input-half {
    width: 230px;
}

.pl-10 {
    padding-left: 10px;
}

/* Link Configuration */

.input-link {
    color: var(--third-color);
    text-decoration: none;
}

.input-link:hover {
    opacity: 0.5;
}

