:root {
    /* Colors */
    --first-color: #18191A;
    --second-color: #242526;
    --third-color: #fff;
    --fourth-color: #3A3B3C;
    --fifth-color: #808080;
    --sixth-color: #FFC107;

    /* Paddings */


    /* Margins */

    /* Title */
    --first-title: 28px;
}